.container{
  display: grid;
  grid-template-columns: repeat(12, 100px);
  justify-content: center;
}
.box{
  height: 100px;
  background-color: orange;
 grid-row: 3;
 grid-column: 4;
}
.box{
  height: 100px;
  height: 100px;
  background-color: green;
  grid-template-columns: 3;
  grid-auto-rows: 6;
}